@import url('https://fonts.googleapis.com/css?family=Jura:300,400,600&subset=latin-ext');
@font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?6525345');
      src: url('./font/fontello.eot?6525345#iefix') format('embedded-opentype'),
           url('./font/fontello.woff?6525345') format('woff'),
           url('./font/fontello.ttf?6525345') format('truetype'),
           url('./font/fontello.svg?6525345#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
}   
.demo-icon {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


body {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Jura', sans-serif;
    overflow-x: hidden;
    margin: 0;
}


button {
    color: white;
    height: 11rem;
    width: 11rem;
    padding: 0rem;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.div-background,
.second-row-height {
    background-color: rgba(0,0,0,0.5);
    border-top-right-radius: 2vmin;
    border-bottom-right-radius: 0vmin;
    border-bottom-left-radius: 2vmin;
    color: floralwhite;
    margin: 1rem;
}


.landing,
.second-page,
.last-page {
    background: url(images/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.landing,
.second-page {
    min-height: 75rem;
    margin: 0;
}

.disp,
.landing,
.second-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-page,
.third-page {
    background: url(images/art.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    
    justify-content: center;
    align-items: center;
    min-height: 35rem;
    margin: 0;
}

.first-page div {
    padding: 1rem;
}

.center {
    padding: 5rem;
    margin: auto auto;
    height: auto;
}


.second-row-height {
    height: 25rem;
    font-size: 1.5rem;
    margin-left: 0px;
    
}


.padd {
    font-size: 1.5rem;
    padding: 2rem; 
    padding-bottom: 3rem;
}

.padd-header {
    font-size: 3vmin;
    padding: 2rem; 
    padding-bottom: 3rem;
}

.second-page {
    padding-bottom: 1.5rem;
}


#last-container {
    max-width: 90%;
}

.footer-foot {
    margin-bottom: 0px;
    margin-top: auto;
    padding: 0;
    text-align: center;
    font-size: 1.4vmin;   
}

.image-foot {
    width: 40%;
    max-width: 300px;
    min-width: 5rem;
}

.div-min {
    min-width: 17.5rem;
}


.icon-link:link, .icon-link:visited, .icon-link:hover {
    text-decoration: none;
    color:white;
    font-size: 4rem;
}

.icon-github-circled-alt2:hover {
	color: black;
	transition: all .2s ease-in;
}

.icon-cloud:hover {
	color: red;
	transition: all .2s ease-in;
}

.icon-facebook:hover {
	color: #3b5998;
	transition: all .2s ease-in;
}

.icon-facebook, .icon-cloud, .icon-github-circled-alt2 {
	transition: all .2s ease-in;
    color: white;
}


.hline {
    width: 80%; 
    border-style: none none solid none;
    border-width: 5px;
    border-color: floralwhite;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (max-width: 550px) {
    .second-row-height {
        height: 15rem;
        font-size: 1.5rem;
        margin-left: 0px;
    }
    .div-min {
        min-width: 0rem;
    }
}